<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo</title>
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">
</head>
<body>

    <a href="/auth/twitter" class="btn btn-default">Sign in Using Twitter</a>
    
    <!-- <div class="container">
        <br>
        <a href="/" class="btn btn-default">Home</a>
        <h1 class="header">Login using Twitter</h1>
        <form action="" method="post">
            <div class="col-xs-4">
            <div class="form-group">
                <label class="label-field" for="username">Username</label>
                <input placeholder="Username" type="text" class="form-control" name="username">
            </div><br>
            <div class="form-group">
                <label class="label-field" for="password">Password</label>
                <input placeholder="Password" type="password" class="form-control" name="password">
            </div>
            <input type="submit" class="btn btn-primary" value="Log In">
            </div>
        </form>
    </div> -->
    <script src="jquery/dist/jquery.js"></script>
    <script src="bootstrap/dist/js/bootstrap.js">
    </script>
</body>
</html>