<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Who's on the list?</title>
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">
</head>
<body>
    <div class="container">
        <p>
            <% for (var i = 0; i < message.length; i++) { %>
                <li>
                    <a href="https://www.twitter.com/<%= message[i] %>">
                    @<%= message[i] %>
                    </a>
                </li> 
            <% }; %>
        </p>
    </div>
</body>
</html>