html, body
{
    background: url(../img/selfies.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.header
{
    color: #fff;
    font-size: 60px;
}
.label-field
{

    color: #fff;

}